<div class="about"></div>
<section class="ab blur-background">
	<div class="container container-fluid">
		<div class="about-box">
			<div class="about-text-box w-50 mx-auto p-3 mt-5">
				<h1 class="about-heading text-center pt-3">Who Am I?</h1>
				<p class="about-text text-center mt-3">
					My name is Asadbek. I'm a full-stack developer. I'm 14 years old, and
					I'm from Uzbekistan. I code with HTML, CSS, Bootstrap, JavaScript,
					ReactJS and I'm learning a C# framework called ASP.NET Core. I'm
					interested in web development, and I'm trying to improve my skills
					every day. Also in the future I want to learn software engineering and
					a little bit of AI.
				</p>
			</div>
		</div>
	</div>
</section>
